# Boutique source
SOURCE_SHOP=source-boutique.myshopify.com
SOURCE_CUSTOM_DOMAIN=www.ancienne-boutique.fr
SOURCE_TOKEN=shpat_xxx

# Boutique cible
TARGET_SHOP=target-boutique.myshopify.com
TARGET_CUSTOM_DOMAIN=www.nouvelle-boutique.fr
TARGET_TOKEN=shpat_yyy
